# 6.1 Применение функций и метод apply

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("WeightLoss.csv")

In [4]:
df

    id    group  w1  w2   w3   se1   se2   se3
0    1  Control   4   3  3.0  14.0  13.0  15.0
1    2  Control   4   4  3.0  13.0  14.0  17.0
2    3  Control   4   3  1.0  17.0  12.0  16.0
3    4  Control   3   2  1.0  11.0  11.0  12.0
4    5  Control   5   3  2.0  16.0  15.0  14.0
5    6  Control   6   5  4.0  17.0  18.0  18.0
6    7  Control   6   5  4.0  17.0  16.0  19.0
7    8  Control   5   4  1.0   NaN   NaN   NaN
8    9  Control   5   4  1.0  14.0  14.0  15.0
9   10  Control   3   3  2.0  14.0  15.0  13.0
10  11  Control   4   2  2.0  16.0  16.0  11.0
11  12  Control   5   2  1.0  15.0  13.0  16.0
12  13     Diet   6   3  2.0  12.0  11.0  14.0
13  14     Diet   5   4  1.0  13.0  14.0  15.0
14  15     Diet   7   6  3.0  17.0  11.0  18.0
15  16     Diet   6   4  2.0  16.0  15.0  18.0
16  17     Diet   3   2  1.0  16.0  17.0  15.0
17  18     Diet   5   5  4.0  13.0  11.0  18.0
18  19     Diet   4   3  1.0  12.0  11.0  14.0
19  20     Diet   4   2  1.0  12.0  11.0  11.0
20  21     Diet   6   5  3.0  17.0  16.0  19.0
21  22     Diet   7   6  4.0  19.0  19.0  19.0
22  23     Diet   4   3  2.0  15.0  15.0  15.0
23  24     Diet   7   4  3.0  16.0  14.0  18.0
24  25   DietEx   7   7  4.0  15.0  11.0  19.0
25  26   DietEx   4   7  NaN  16.0  12.0  18.0
26  27   DietEx   9   7  3.0  13.0  12.0  17.0
27  28   DietEx   3   4  1.0  16.0  13.0   NaN
28  29   DietEx   3   5  1.0  13.0  13.0  16.0
29  30   DietEx   6   5  2.0  15.0  12.0  18.0
30  31   DietEx   6   6  3.0  15.0  13.0  18.0
31  32   DietEx   9   5  2.0  16.0  14.0  17.0
32  33   DietEx   7   9  4.0  16.0  16.0  19.0
33  34   DietEx   8   6  1.0  17.0  17.0  17.0

In [5]:
df['total'] = df.w1 + df.w2 + df.w3

In [6]:
df['total_gr'] = df.total * 1000

In [7]:
df

    id    group  w1  w2   w3   se1   se2   se3  total  total_gr
0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0
1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0
2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0
3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0
4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0
5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0
6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0
7    8  Control   5   4  1.0   NaN   NaN   NaN   10.0   10000.0
8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0
9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0
10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0
11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0
12  13     Diet   6   3  2.0  12.0  11.0  14.0   11.0   11000.0
13  14     Diet   5   4  1.0  13.0  14.0  15.0   10.0   10000.0
14  15     Diet   7   6  3.0  17.0  11.0  18.0   16.0   16000.0
15  16     Diet   6   4  2.0  16.0  15.0  18.0   12.0   12000.0
16  17     Diet   3   2  1.0  16.0  17.0  15.0    6.0    6000.0
17  18     Diet   5   5  4.0  13.0  11.0  18.0   14.0   14000.0
18  19     Diet   4   3  1.0  12.0  11.0  14.0    8.0    8000.0
19  20     Diet   4   2  1.0  12.0  11.0  11.0    7.0    7000.0
20  21     Diet   6   5  3.0  17.0  16.0  19.0   14.0   14000.0
21  22     Diet   7   6  4.0  19.0  19.0  19.0   17.0   17000.0
22  23     Diet   4   3  2.0  15.0  15.0  15.0    9.0    9000.0
23  24     Diet   7   4  3.0  16.0  14.0  18.0   14.0   14000.0
24  25   DietEx   7   7  4.0  15.0  11.0  19.0   18.0   18000.0
25  26   DietEx   4   7  NaN  16.0  12.0  18.0    NaN       NaN
26  27   DietEx   9   7  3.0  13.0  12.0  17.0   19.0   19000.0
27  28   DietEx   3   4  1.0  16.0  13.0   NaN    8.0    8000.0
28  29   DietEx   3   5  1.0  13.0  13.0  16.0    9.0    9000.0
29  30   DietEx   6   5  2.0  15.0  12.0  18.0   13.0   13000.0
30  31   DietEx   6   6  3.0  15.0  13.0  18.0   15.0   15000.0
31  32   DietEx   9   5  2.0  16.0  14.0  17.0   16.0   16000.0
32  33   DietEx   7   9  4.0  16.0  16.0  19.0   20.0   20000.0
33  34   DietEx   8   6  1.0  17.0  17.0  17.0   15.0   15000.0

In [8]:
df['total_gr'].apply(np.log)

0     9.210340
1     9.305651
2     8.987197
3     8.699515
4     9.210340
5     9.615805
6     9.615805
7     9.210340
8     9.210340
9     8.987197
10    8.987197
11    8.987197
12    9.305651
13    9.210340
14    9.680344
15    9.392662
16    8.699515
17    9.546813
18    8.987197
19    8.853665
20    9.546813
21    9.740969
22    9.104980
23    9.546813
24    9.798127
25         NaN
26    9.852194
27    8.987197
28    9.104980
29    9.472705
30    9.615805
31    9.680344
32    9.903488
33    9.615805
Name: total_gr, dtype: float64

In [10]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3  total  total_gr
0   1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0
1   2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0
2   3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0
3   4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0
4   5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0

In [11]:
df['av_loss'] = df.loc[:, 'w1':'w3'].apply(np.mean, axis = 1) #axis 1 делает по строке, 0 - по столбцу

In [13]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3  total  total_gr   av_loss
0   1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0  3.333333
1   2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0  3.666667
2   3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0  2.666667
3   4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0  2.000000
4   5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0  3.333333

In [14]:
f = lambda x: x.max() - x.min()

In [15]:
df['wrange'] = df.loc[:, 'w1' : 'w3'].apply(f, axis = 1)

In [16]:
df.head()

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,av_loss,wrange
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0

# 6.2 Группировка и агрегирование

In [17]:
list(df.groupby('group'))[0]

('Control',
     id    group  w1  w2   w3   se1   se2   se3  total  total_gr   av_loss  \
 0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0  3.333333
 1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0  3.666667
 2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0  2.666667
 3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0  2.000000
 4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0  3.333333
 5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0  5.000000
 6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0  5.000000
 7    8  Control   5   4  1.0   NaN   NaN   NaN   10.0   10000.0  3.333333
 8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0  3.333333
 9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0  2.666667
 10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0  2.666667
 11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0  2.666667

     wrange
 0      1.0
 1      1.0
 2      3.0
 3      2.0
 4      3.0
 5      2.0
 6      2.0
 7      4.0
 8      4.0
 9      1.0
 10     2.0
 11     4.0  )

In [18]:
df.groupby('group').agg('sum') #аггрегация, выводит функции по группам

,id,w1,w2,w3,se1,se2,se3,total,total_gr,av_loss,wrange
group,,,,,,,,,,,
Control,78,54,40,25.0,164.0,157.0,166.0,119.0,119000.0,39.666667,29.0
Diet,222,64,47,27.0,178.0,165.0,194.0,138.0,138000.0,46.000000,37.0
DietEx,295,62,61,21.0,152.0,133.0,159.0,133.0,133000.0,49.833333,45.0

In [20]:
df.groupby('group').agg(['min', 'max', 'mean']).loc[:, 'w1']

         min  max      mean
group
Control    3    6  4.500000
Diet       3    7  5.333333
DietEx     3    9  6.200000

# 6.3 Сортировка и упорядочение

In [21]:
df.sort_values('total') #сортирока по группе total

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,av_loss,wrange
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
27,28,DietEx,3,4,1.0,16.0,13.0,NaN,8.0,8000.0,2.666667,3.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
7,8,Control,5,4,1.0,NaN,NaN,NaN,10.0,10000.0,3.333333,4.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
25,26,DietEx,4,7,NaN,16.0,12.0,18.0,NaN,NaN,5.500000,3.0

In [24]:
df.sort_values(['se3', 'total'], ascending = False) #приоритетность сортировки; ascending = False - по убыванию

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,av_loss,wrange
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
25,26,DietEx,4,7,NaN,16.0,12.0,18.0,NaN,NaN,5.500000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
7,8,Control,5,4,1.0,NaN,NaN,NaN,10.0,10000.0,3.333333,4.0
27,28,DietEx,3,4,1.0,16.0,13.0,NaN,8.0,8000.0,2.666667,3.0

# 6.4 Работа с NaN-ами

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 12 columns):
id          34 non-null int64
group       34 non-null object
w1          34 non-null int64
w2          34 non-null int64
w3          33 non-null float64
se1         33 non-null float64
se2         33 non-null float64
se3         32 non-null float64
total       33 non-null float64
total_gr    33 non-null float64
av_loss     34 non-null float64
wrange      34 non-null float64
dtypes: float64(8), int64(3), object(1)
memory usage: 3.3+ KB

In [28]:
df.isnull().sum() #подсчет количества незаполненных значений

id          0
group       0
w1          0
w2          0
w3          1
se1         1
se2         1
se3         2
total       1
total_gr    1
av_loss     0
wrange      0
dtype: int64

In [29]:
df.fillna(0)

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,av_loss,wrange
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
7,8,Control,5,4,1.0,0.0,0.0,0.0,10.0,10000.0,3.333333,4.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
25,26,DietEx,4,7,0.0,16.0,12.0,18.0,0.0,0.0,5.500000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
27,28,DietEx,3,4,1.0,16.0,13.0,0.0,8.0,8000.0,2.666667,3.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0

In [30]:
df = df.dropna()

# 6.5 Иерархическое индексирование 1

In [32]:
df = pd.DataFrame([['2019-03-11', 'en', 3],
                  ['2019-03-11', 'fr', 5],
                  ['2019-03-12', 'en', 6],
                  ['2019-03-13', 'fr', 1],
                  ['2019-03-13', 'en', 2],
                  ['2019-03-16', 'fr', 4],
                  ['2019-03-17', 'en', 3]],
                  columns = ['date', 'lang', 'n'])

In [33]:
df.set_index(['date', 'lang'], inplace = True)

In [34]:
df

                 n
date       lang
2019-03-11 en    3
           fr    5
2019-03-12 en    6
2019-03-13 fr    1
           en    2
2019-03-16 fr    4
2019-03-17 en    3

In [35]:
df.index

MultiIndex(levels=[['2019-03-11', '2019-03-12', '2019-03-13', '2019-03-16', '2019-03-17'], ['en', 'fr']],
           codes=[[0, 0, 1, 2, 2, 3, 4], [0, 1, 0, 1, 0, 1, 0]],
           names=['date', 'lang'])

In [36]:
df.sort_index()

                 n
date       lang
2019-03-11 en    3
           fr    5
2019-03-12 en    6
2019-03-13 en    2
           fr    1
2019-03-16 fr    4
2019-03-17 en    3

In [39]:
df.loc['2019-03-13', 'fr']

n    1
Name: (2019-03-13, fr), dtype: int64

In [41]:
?df.apply